@font-face {
	font-family: 'WorkSans-Regular';
	src: url(../fonts/Work_Sans/WorkSans-Regular.ttf);
}
@font-face {
	font-family: 'WorkSans-Italic';
	src: url(../fonts/Work_Sans/WorkSans-Italic.ttf);
}
@font-face {
	font-family: 'WorkSans-SemiBoldItalic';
	src: url(../fonts/Work_Sans/WorkSans-SemiBoldItalic.ttf);
}
@font-face {
	font-family: 'WorkSans-Medium';
	src: url(../fonts/Work_Sans/WorkSans-Medium.ttf);
}
@font-face {
	font-family: 'WorkSans-SemiBold';
	src: url(../fonts/Work_Sans/WorkSans-SemiBold.ttf);
}
@font-face {
	font-family: 'WorkSans-Bold';
	src: url(../fonts/Work_Sans/WorkSans-Bold.ttf);
}
@font-face {
	font-family: 'WorkSans-ExtraBold';
	src: url(../fonts/Work_Sans/WorkSans-ExtraBold.ttf);
}
@font-face {
	font-family: 'SpaceGrotesk-Regular';
	src: url(../fonts/Space_Grotesk/SpaceGrotesk-Regular.ttf);
}
@font-face {
	font-family: 'SpaceGrotesk-Medium';
	src: url(../fonts/Space_Grotesk/SpaceGrotesk-Medium.ttf);
}
@font-face {
	font-family: 'SpaceGrotesk-SemiBold';
	src: url(../fonts/Space_Grotesk/SpaceGrotesk-SemiBold.ttf);
}
@font-face {
	font-family: 'SpaceGrotesk-Bold';
	src: url(../fonts/Space_Grotesk/SpaceGrotesk-Bold.ttf);
}
