html,
body {
	height: 100%;
	font-size: $main-font-size;
	font-weight: $main-font-weight;
	line-height: $main-line-height;
	font-family: $main-font;
	color: $main-color-p;
	background: $primary-background;
}

*::selection {
	color: #fff;
	background: rgba(252, 213, 76, 0.3);
}

.fixed {
	overflow: hidden;
}
main {
	flex-grow: 1;
	padding-top: 80px;
}

footer {
	flex-shrink: 0;
	margin-top: 3rem;
}

.wrapper {
	display: flex;
	flex-direction: column;
	min-height: 100%;
	overflow: hidden;
}

.container {
	max-width: 1620px;
	margin: 0 auto;
	padding-left: 1rem;
	padding-right: 1rem;
	box-sizing: content-box;
}

.content-container {
	max-width: 1100px;
	margin: 0 auto;
}

h1 {
	font-family: 'SpaceGrotesk-Bold', 'Arial', sans-serif;
	font-size: 80px;
	font-weight: 700;
	line-height: 125%;
}

h2 {
	font-family: 'SpaceGrotesk-Bold', 'Arial', sans-serif;
	font-size: 70px;
	font-weight: 700;
	line-height: 105%;
}

h3 {
	font-family: 'SpaceGrotesk-Bold', 'Arial', sans-serif;
	font-size: 48px;
	font-weight: 700;
	line-height: 123%;
}

h4 {
	font-family: 'SpaceGrotesk-Bold', 'Arial', sans-serif;
	font-size: 25px;
	font-weight: 700;
	line-height: 140%;
}

h5 {
	font-family: 'SpaceGrotesk-Bold', 'Arial', sans-serif;
	font-size: 18px;
	font-weight: 700;
	line-height: 140%;
}

.subtitle {
	font-family: 'SpaceGrotesk-Bold', 'Arial', sans-serif;
	font-size: 32px;
	font-weight: 700;
}

.text-accent {
	font-family: 'WorkSans-Bold';
	font-weight: 700;
	line-height: 130%;
}

@media (max-width: 1440px) {
	h1 {
		font-size: 70px;
	}
	h2 {
		font-size: 60px;
	}
	h3 {
		font-size: 40px;
	}
}

@media (max-width: 991px) {
	h1 {
		font-size: 60px;
	}
	h2 {
		font-size: 50px;
	}
	h3 {
		font-size: 26px;
	}
	h4 {
		font-size: 22px;
	}
}

@media (max-width: 767px) {
	h1 {
		font-size: 40px;
	}

	h2 {
		font-size: 26px;
	}
	h3 {
		font-size: 24px;
	}

	h4 {
		font-size: 20px;
	}

	.subtitle {
		font-size: 26px;
	}
}

@media (max-width: 480px) {
	h2 {
		font-size: 30px;
	}
}

.regular-btn {
	padding: 15px;
	color: rgb(0, 0, 0);
	font-family: $main-font;
	font-size: 14px;
	font-weight: 600;
	line-height: 16px;
	background: $primary-color;
	border: 2px solid $primary-color;
	cursor: pointer;
	transition: all 0.5s ease;
	white-space: nowrap;

	&:hover {
		background-color: $primary-background;
		color: $primary-color;
	}
	&:active {
		transform: scale(0.9);
	}
	@media (max-width: 991px) {
		padding: 10px;
		font-size: 12px;
	}
}

.scroll-top {
	position: fixed;
	bottom: 30px;
	left: 30px;
	display: none;
	align-items: center;
	justify-content: center;
	width: 50px;
	height: 50px;
	background-color: $primary-color;
	border-radius: 50%;
	border: 1px solid $primary-background;
	transition: all 1s ease;
	cursor: pointer;

	& svg {
		fill: $main-color-black;
	}

	&:hover {
		transform: scale(1.1);
	}
}

.scroll-btn-show {
	display: flex;
}

/*breadcrumbs*/
.breadcrumbs {
	display: flex;
	gap: 25px;
	font-size: 14px;

	&-link {
		position: relative;
	}

	&-link:hover {
		text-decoration: underline;
		color: $primary-color;
	}

	&-link:after {
		content: '';
		position: absolute;
		top: 8px;
		right: -15px;
		display: block;
		width: 9px;
		height: 11px;
		background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg width='13' height='22' viewBox='0 0 13 22' fill='none' xmlns='http://www.w3.org/2000/svg'%3e%3cpath d='M12.3223 11.0273L1.00031 1.0028' stroke='%23E8E8E8'/%3e%3cpath d='M1 21.0273L12.322 11.0028' stroke='%23E8E8E8'/%3e%3c/svg%3e ");
		background-repeat: no-repeat;
		background-size: contain;
	}

	&-active {
		opacity: 0.6;
	}

	&-active:after {
		display: none;
	}
}

@media (max-width: 480px) {
	.breadcrumbs {
		flex-wrap: wrap;
		gap: 15px;
	}
}
