* text=auto

*.php text eol=lf
*.js text eol=lf
*.scss text eol=lf
*.css text eol=lf
*.md text eol=lf
*.json text eol=lf
*.sql text eol=lf

*.jpg binary
*.jpeg binary
*.png binary
*.gif binary
*.ico binary
*.mp4 binary
*.ttf binary
*.woff binary
*.woff2 binary
*.eot binary